@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1910px;
}

.header {
    background-color: #3c8dbc;
}

.navbar {
    display: flex;
    color: aliceblue;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__logo {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 15px 50px;
        background-color: #1878af;
        width: 300px;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 0px 20px;

        @media (max-width: 768px) {
            padding: 10px 20px;
        }
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        margin: 0 20px;
        cursor: pointer;

        &:last-of-type {
            margin-right: 10px;
        }
    }

    &__text {
        font-size: 1.25rem;
        letter-spacing: -1px;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    &__icon {
        font-size: 1.5rem;
        cursor: pointer;
        transition: color 0.1s linear;

        @media (max-width: 768px) {
            font-size: 1.25rem;
        }

        &:hover {
            color: #000000;
        }
    }
    .icon_user {
        font-size: 2rem;
    }
}

.text {
    &_thin {
        font-weight: 100;
    }
}

.badge {
    position: absolute;
    font-size: 0.5rem;
    padding: 3px;
    border-radius: 5px;
    border: none;
    right: -10px;
    top: -10px;

    &_green {
        background-color: green;
    }

    &_yellow {
        background-color: rgb(228, 175, 0);
    }

    &_red {
        background-color: red;
    }
}

.side-panel {
    color: aliceblue;
    max-width: 300px;
    background-color: #023452;
    min-height: 100vh;

    @media (max-width: 768px) {
        display: none;
    }
}

.user {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 15px;

    &__info {
        line-height: 1.5rem;
    }

    &__status {
        display: flex;
        align-items: center;
    }

    .icon_user {
        font-size: 3.5rem;
    }

    .icon_status {
        color: green;
        font-size: 0.5rem;
        margin-right: 10px;
    }
}

.navigation {
    &__header {
        text-transform: uppercase;
        width: 100%;
        padding: 10px;
        background-color: #012033;
        box-sizing: border-box;
        color: darkgray;
    }

    &__item {
        color: rgb(173, 173, 173);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: background-color 0.1s linear;

        &:hover {
            background-color: #1878af;
            color: aliceblue;
        }

        .icon {
            text-align: center;
            width: 50px;
        }
    }
}
