@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
}

.container {
    max-width: 1910px;
}

.header {
    background-color: #3c8dbc;
}

.navbar {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__logo {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 15px 50px;
        background-color: #1878af;
        width: 300px;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 0px 20px;

        @media (max-width: 768px) {
            padding: 10px 20px;
        }
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        margin: 0 20px;
        cursor: pointer;

        &:last-of-type {
            margin-right: 10px;

            &::after {
                display: none;
            }
        }
    }

    &__text {
        font-size: 1.25rem;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}

.text {
    &_thin {
        font-weight: 100;
    }
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.1s linear;

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }

    &_user {
        font-size: 2rem;
    }

    &:hover {
        color: #000000;
    }
}

.badge {
    position: absolute;
    font-size: 0.5rem;
    padding: 3px;
    border-radius: 5px;
    border: none;
    right: -10px;
    top: -10px;

    &_green {
        background-color: green;
    }

    &_yellow {
        background-color: rgb(228, 175, 0);
    }

    &_red {
        background-color: red;
    }
}
